/* colour guide for custom styling*/
/* Tokyo Night */
@define-color background #1a1b26;
@define-color background-light #24283b;
@define-color foreground #c0caf5;
@define-color black #15161e;
@define-color red #f7768e;
@define-color green #9ece6a;
@define-color yellow #e0af68;
@define-color blue #7aa2f7;
@define-color magenta #bb9af7;
@define-color cyan #7dcfff;
@define-color white #a9b1d6;
@define-color orange #ff9e64;


/* Everforest Dark Colors */
@define-color background #2b3339;
@define-color background-light #323c41;
@define-color foreground #d3c6aa;
@define-color black #3c474d;
@define-color red #e67e80;
@define-color green #a7c080;
@define-color yellow #dbbc7f;
@define-color blue #7fbbb3;
@define-color magenta #d699b6;
@define-color cyan #83c092;
@define-color white #d3c6aa;
@define-color orange #e69875;

/* Pastel TTY Colors */
@define-color background #212121;
@define-color background-light #3a3a3a;
@define-color foreground #e0e0e0;
@define-color black #5a5a5a;
@define-color red #ff9a9e;
@define-color green #b5e8a9;
@define-color yellow #ffe6a7;
@define-color blue #63a4ff;
@define-color magenta #dda0dd;
@define-color cyan #a3e8e8;
@define-color white #ffffff;
@define-color orange #ff8952;

/* Gruvbox Dark Colors */
@define-color background #282828;
@define-color background-light #3c3836;
@define-color foreground #ebdbb2;
@define-color black #32302f;
@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d79921;
@define-color blue #458588;
@define-color magenta #b16286;
@define-color cyan #689d6a;
@define-color white #ebdbb2;
@define-color orange #d65d0e;


* {
border: none;
border-radius: 0;
font-family: "JetBrains Mono";
font-weight: bold;
font-size: 18px;
min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
padding: 5px;
color: #636777;
margin-right: 5px;
}

#workspaces button.active {
background-color: #000;
}

#workspaces button.focused {
color: #a6adc8;
background: #eba0ac;
border-radius: 10px;
}

#workspaces button.urgent {
color: #11111b;
background: #a6e3a1;
border-radius: 10px;
}

#workspaces button:hover {
background: #11111b;
color: #11111b;
border-radius: 5px;
}

#custom-rofi_button,
#memory,
#cpu,
#custom-updates,
#custom-power,
#power-profiles-daemon,
#custom-weather,
#custom-moon,
#custom-wallpaper,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#custom-temperature,
#custom-memory,
#workspaces,
#tray,
#backlight {
background: #1e1e2e;
opacity: 0.8;
padding: 0px 10px;
/* margin: 3px 0px; */
margin: 0px 0px;
margin-top: 10px;
border: 1px solid #181825;
}

#custom-power {
color: #f7768e;
border-radius: 10px 0px 0px 10px;
margin-left: 10px;
border-right: 0px;
}

#taskbar {
color: #fab387;
border-radius: 10px 10px 10px 10px;
margin-left: 10px;
border-right: 0px;
/* background: #1e1e2e; */
opacity: 0.8;
padding: 0px 10px;
/* margin: 3px 0px; */
margin: 0px 0px;
margin-top: 10px;
/*border: 1px solid #181825; */
}

#custom-rofi_button {
color: #fab387;
margin-left: 10px;
border-radius: 10px 10px 10px 10px;
padding-right: 15px;
}

#custom-updates {
color: #fab387;
border-radius: 10px 0px 0px 10px;
margin-left: 10px;
border-right: 0px;
}

#cpu {
color: #9ece6a;
border-radius: 10px 0px 0px 10px;
margin-left: 10px;
border-right: 0px;
}

#memory {
color: #9ece6a;
/*border-radius: 10px 0px 0px 10px; */
/*margin-left: 10px; */
border-right: 0px;
}

#custom-memory {
color: #eba0ac;
}

#custom-temperature {
border-radius: 10px 0px 0px 10px;
}

#custom-temperature.critical {
color: #f00;
}

#backlight {
border-radius: 10px 0px 0px 10px;
}

#tray {
border-radius: 10px;
margin-right: 10px;
}

#workspaces {
background: #1e1e2e;
border-radius: 10px;
margin-left: 10px;
padding-right: 0px;
padding-left: 5px;
}

#power-profiles-daemon {
color: #a6e3a1;
border-left: 0px;
border-right: 0px;
}

#window {
border-radius: 10px;
margin-left: 60px;
margin-right: 60px;
}

#clock {
color: #fab387;
border-radius: 10px 0px 0px 10px;
margin-left: 10px;
border-right: 0px;
}

#network {
color: #f9e2af;
border-radius: 0px 0px 0px 0px;
padding-right:  3px;
}

#bluetooth {
color: #89b4fa;
border-radius: 0px 10px 10px 0px;
margin-right: 10px
}

#pulseaudio {
color: #89b4fa;
border-radius: 10px 0px 0px 10px;
margin-left: 10px;
border-right: 0px;
}

#pulseaudio.microphone {
color: #cba6f7;
border-left: 0px;
border-right: 0px;
border-radius: 0px 10px 10px 0px;
margin-right: 10px;
}

#battery {
color: #a6e3a1;
border-left: 0px;
}

#battery.warning {
color: #FFA500;
}

#battery.critical {
color: #F00;
}
